<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="jetbot_lds_2d.lua"/>
  <arg name="move_base_flex" default='0' doc="move_base type [0, default = move_base; 1 = move_base_flex]"/>
  <arg name="local_planner" default="dwa" />
  <arg name="move_forward_only" default="false"/>
  <arg name="rvizconfig" default="$(find jetbot_viz)/rviz/jetbot_navigation_move_base.rviz" if="$(eval arg('move_base_flex') == 0)"/>
  <arg name="rvizconfig" default="$(find jetbot_viz)/rviz/jetbot_navigation_move_base_flex.rviz" if="$(eval arg('move_base_flex') == 1)"/>
  <arg name="cmd_vel_topic" default="/jetbot_velocity_controller/cmd_vel/" />
  <arg name="odom_topic" default="odom" />


  <!-- move_base -->
  <include file="$(find jetbot_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="local_planner" value="$(arg local_planner)" />
    <arg name="move_base_flex" value="$(arg move_base_flex)" />
    <arg name="cmd_vel_topic" default="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" default="$(arg odom_topic)" />
  </include>

  <!-- cartographer_node -->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
        args="-configuration_directory $(find jetbot_slam)/config
              -configuration_basename $(arg configuration_basename)"
        output="screen">
    <remap from="imu" to="flat_imu" />
    <!--remap from="points2" to="/camera/depth/points" /-->
  </node>

  <!-- cartographer_occupancy_grid_node -->
  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
        name="cartographer_occupancy_grid_node" 
        args="-resolution 0.05" />
  
  <!-- relaying the imu topic for cartographer -->
  <node pkg="topic_tools" type="relay" name="flat_world_imu_node" args="imu flat_imu" />
  
</launch>